# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
dvc
cookiecutter
numpy
pandas
matplotlib
seaborn
scikit-learn
joblib
pyyaml
ipykernel
pytest
tox
flask
gunicorn
watchdog-3.0.0